.table{
    margin-top: 20px;
    overflow: scroll;
    height: 400px;
    color: #6a5d5d;
    margin-bottom: 30px;
}
.table tr{
    display: flex;
    justify-content: space-between;
}
.table td{
    padding: 5px;
    font-size: small;
}
.table tr:nth-of-type(odd){
    background-color: #f3f2f8;
}